.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero {
  padding: 1em;
  display: grid;
  place-items: center;
}
.welcome {
  text-align: center;
  color: #fd346e;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}
.hero-title {
  text-align: center;
  margin: 1.1rem 1.3rem;
  text-transform: capitalize;
  letter-spacing: -2.25px;
  line-height: 82px;
  font-size: 5rem;
}
.hero-intro {
  text-align: center;
  font-weight: 400;
}
.hero-buttons {
  margin: 1rem 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
.hero-video {
  background: #fd346e;
  font-size: 1.3rem;
  color: aliceblue;
}
.hero-started {
  background: #fcdc00;
  font-size: 1.3rem;
  color: rgb(26, 22, 22);
}
