@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
  font-family: 'Quicksand';
  src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap') format('woff2'),
      url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap') format('woff');
  font-weight: 300;
  font-style: normal;
}
*,
::after,
::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}
body{
  font-family: Quicksand , sans-serif;
}
li{
  list-style: none;
}
section{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-center{
  width: 90vw;
  max-width: 1120px;
}
.btn{
  padding: 1em 1.5em;
    border:none;
    border-radius: 12px;
  cursor: pointer;

}